.searchPage__logo {
    object-fit: contain;
    height: 31px;
    margin-right: 5px;
    margin-left: 5px;
}

.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
    /* align-items: flex-start; */
    /* width: 650px; */
    /* height: 80px; */
    /* border-bottom: 1px solid lightgray; */
}

.searchPage__logo {
    width: 150px;
    margin-top: 26px;
}

.searchPage__headerBody.Search {
    width: 650px;
    height: 80px;
    display: flex;
    align-items: center;
}

.searchPage__results {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 180px;
    margin-bottom: 100px;
}

.searchPage__result {
    margin: 30px 0px;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
}

.searchPage__resultCount {
    color: #70757a;
    font-size: 14px;
}

.searchPage__resultTitle {
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #1a0dab;
}

.searchPage__resultText > a {
    text-decoration: none;
}

.searchPage__resultText > a > p {
    color: #5f6368;
}

.searchPage__resultText > a > h2 {
    margin-top: 3px;
}

.searchPage__resultText > a > h2:hover {
    text-decoration: underline;
}

.searchPage__resultText {
    padding-right: 10px;
}

.searchPage__resultSnippet {
    margin-top: 3px;
}

.searchPage__resultImage {
    object-fit: contain;
    height: 92px;
    width: 92px;
}

.break {
    display: flex;
    position: sticky;
    align-items: flex-start;
    margin-top: 15px;
    border-bottom: 1px solid lightgray;
}



.searchPage__options {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 180px;
    font-size: 14px;
    /* margin-top: 20px; */
}

.searchPage__optionsLeft,
.searchPage__optionsRight {
    display: flex;
    align-items: center;
}

.searchPage__optionsLeft a,
.searchPage__optionsRight a {
    text-decoration: none;
    color: #5f6368;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #5f6368;
}

.searchPage__option a {
    margin-left: 5px;
}

.searchPage__optionsLeft > Link {
    height: 10px;
}